*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header,
footer {
  color: #f9faf8;
  background: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.hero {
  font-size: 48px;
  color: #f9faf8;
}

.hero-media-tmp, .hero-sub, .nav-link {
  font-size: 18px;
  color: #e5e7eb;
}

.quote-section, .illus-head {
  font-size: 36px;
  color: #1f2937;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-extra-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.font-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.nav-link {
  text-decoration: none;
}

.hero-right {
  background-color: rgba(229, 231, 235, 0.4);
}

.hero-media-tmp {
  color: #f9faf8;
}

.quote-section {
  background: #e5e7eb;
}

.quote-by {
  font-size: 24px;
}

.flex-action-container {
  background: #3882f6;
}

.action {
  font-size: 22px;
  color: #fff;
}

.action-sub {
  font-size: 18px;
  color: #f9faf8;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
}

.flex-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  margin-bottom: 4.5rem;
}

.flex-menu-links {
  display: flex;
  gap: 1.5rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  justify-content: center;
}

.flex-hero {
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;
}
.flex-hero > .hero-left {
  min-width: 49%;
  padding-right: 1.5rem;
}
.flex-hero > .hero-right {
  min-width: 51%;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero-btn {
  margin-top: 0.75rem;
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-media-tmp {
  color: #fff;
}

.flex-illus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.35rem;
  margin-top: 2rem;
  margin-bottom: 5.5rem;
}

.flex-illus-card-container {
  display: flex;
  justify-content: center;
  gap: 1.35rem;
}
.flex-illus-card-container > * {
  min-width: 25%;
}

.illus-card,
.illus-media,
.illus-sub {
  width: 150px;
}

.illus-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.illus-media {
  height: 150px;
  background-color: #fff;
  border-radius: 15px;
  border: 4px solid #3882f6;
}

.illus-sub {
  margin-top: 0.35rem;
  text-align: center;
}

.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  width: 790px;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.quote-by {
  align-self: start;
}

.quote-by {
  align-self: end;
}

.flex-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-action-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding: 3rem 6rem;
  border-radius: 0.5rem;
}

.flex-action-right {
  display: flex;
  flex-direction: column;
}

.action-btn {
  border: 2px solid #fff;
}

.hero-btn,
.action-btn {
  font-size: 18px;
  background: #3882f6;
  width: max-content;
  height: max-content;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}
.hero-btn a,
.action-btn a {
  color: #fff;
  text-decoration: none;
}

.bot-footer {
  display: flex;
  justify-content: center;
  padding: 2.5rem 10rem;
  margin-top: auto;
}

body > * {
  padding: 0 10rem;
}

/*# sourceMappingURL=style.css.map */
